<div *ngIf="apartmentId">
    <h3 class="text-center mb-4">Edit Apartment</h3>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="mb-2 d-flex">
        <div class="me-2 w-50">
          <label class="form-label">Apartment Name</label>
          <input type="text" id="apartmentName" class="form-control" name="apartmentName" [(ngModel)]="model.Name" required>
        </div>
        <div class="me-2 w-50">
          <label class="form-label">Rooms Number</label>
          <input type="number" id="apartmentRoomsNumber" class="form-control" name="apartmentRoomsNumber" [(ngModel)]="model.Rooms" required>
        </div>
      </div>
      <div class="mb-2 d-flex">
        <div class="me-2 w-50">
          <label class="form-label">Price</label>
          <input type="number" id="apartmentPrice" class="form-control" name="apartmentPrice" [(ngModel)]="model.Price" required>
        </div>
        <div class="me-2 w-50">
          <label class="form-label">Description</label>
          <textarea id="apartmentDescription" class="form-control" name="apartmentDescription" [(ngModel)]="model.Description" rows="3" style="resize: vertical;"></textarea>
        </div>
      </div>
      <div class="mt-3">
        <button class="btn btn-primary" type="submit">Edit</button>
      </div>
    </form>
  </div>