<div>
    <div>
      <label for="roomsFilter">Filter by rooms:</label>
      <input id="roomsFilter" type="number" (change)="onFilterChange($event)" />
    </div>
  
    <div>
      <label for="sortOption">Sort by price:</label>
      <select id="sortOption" (change)="onSortChange($event)">
        <option value="asc">Price - lowest to highest</option>
        <option value="desc">Price - highest to lowest</option>
      </select>
    </div>
  
    <ul>
        <li *ngFor="let apartment of apartments$ | async">
          {{ apartment.Name }} / {{ apartment.Rooms }} bed / {{ apartment.Price }} / {{ apartment.Description }}
          <button (click)="deleteApartment(apartment.Id)">Delete</button>
        </li>
      </ul>
  </div>